// description
.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  background-color: transparent !important;
  border-color: transparent !important;
  border-bottom: 2px solid #0aad0a !important;
  color: #0aad0a !important;

}

.nav-lb-tab .nav-item .nav-link.active,
.nav-lb-tab .nav-item .nav-link:hover {
  background-color: transparent !important;
  border-bottom: 2px solid #0aad0a !important;
  color: #0aad0a !important;
}


.nav-tabs .nav-link:hover,
.nav-tabs .nav-link:focus {
  border-color: transparent !important;
 
  border-bottom: 2px solid #0aad0a !important;
}
.nav-tabs {
  color: rgba(10, 173, 10, 0.25) !important;
}


.p__b{
  padding: 16px 0 !important;
  color: #5c6c75 !important;
}
