@use './media';
@import "~bootstrap/scss/bootstrap";
@import './fonts';




body{
  overflow-y: overlay;
  @media(max-width: media.$mobile) {
    overflow-y: auto;
  }
}
a{
  text-decoration: none;
}

.nav-link.activ{
  color: #00a2ff !important;
}

.nav-link.active {
  color: #00a2ff !important;
}

.banner__border{
  border-radius: 0.375rem;
}

.mb-8{
  margin-bottom: 2rem!important;
}
.mt-8 {
  margin-top: 2rem!important;
}