.input-spinner .button-minus, .input-spinner .button-plus {
  background-color: transparent;
  border-color: #ecf0ef;
  height: 2rem;
  width: 1.8rem;
}

.input-spinner .button-minus, .input-spinner .button-plus {
  background-color: transparent;
  border-color: #ecf0ef;
  height: 2rem;
  width: 1.8rem;
}
.input-spinner .form-input {
  background: 0 0;
  border: 1px solid #ecf0ef;
  height: 100%;
  min-height: 2rem;
  text-align: center;
  width: 2rem!important;
}
.input-spinner .form-input:focus{
  outline: none;
}