// delete img
.image__product__width {
  /*   height: 200px; */
}
.image-gallery-content .image-gallery-slide .image-gallery-image {
  /*   max-height: 100%; */
}

.not__visible.visibility {
  display: block;
  opacity: 1;
  height: auto;
  visibility: visible;
  transition: all 0.3s;
  z-index: 100;
}
.not__visible {
  display: none;
  z-index: 100;
  opacity: 0;
  height: 0;
  visibility: hidden;
  transition: all 0.3s;
}

.product__main__photo
  .image-gallery-content
  .image-gallery-slide
  .image-gallery-image {
  max-height: calc(50vh - 80px);
}

/* .product__main__photo .image-gallery-thumbnail .image-gallery-thumbnail-image {
}
 */

.image-gallery-thumbnail.active,
.image-gallery-thumbnail:focus {
  background: none;
  border: 4px solid #0aad0a;
  border-radius: 0.5rem;
}
.image-gallery-thumbnail .image-gallery-thumbnail-image{
  border-radius: 0.5rem;
}
.image-gallery-thumbnail:hover{
  border-radius: 0.5rem;
  border: 4px solid #0aad0a;
}
.image-gallery-thumbnail{
  border-radius: 0.5rem;
  padding: 15px
}

.image-gallery-thumbnail + .image-gallery-thumbnail {
  margin-left: 10px;
}

.product__screen_photo  .image-gallery-content
.image-gallery-slide
.image-gallery-image {
max-height: calc(80vh - 120px);
}

.image-gallery-thumbnails-wrapper{
  margin: 25px 0;
}