.logo{
  font-size: 33px;
  color: rgb(63, 107, 41);
  font-family: Mono;
  font-weight: bold;
  &__icon{
    position: relative;
    top: -5px;
  }
}

//favorite
.visually-hidden, .visually-hidden-focusable:not(:focus):not(:focus-within) {
  clip: rect(0,0,0,0)!important;
  border: 0!important;
  height: 1px!important;
  margin: -1px!important;
  overflow: hidden!important;
  padding: 0!important;
  position: absolute!important;
  white-space: nowrap!important;
  width: 1px!important;
}


//@at-root
.is-sticky {
  display: block !important;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
 /*  box-shadow: 0 2px 24px 0 rgb(0 0 0 / 15%); */
  background-color: #ffffff !important;
  /* animation: 500ms ease-in-out 0s normal none 1 running fadeInDown; */
  padding-top: 0px;
  padding-bottom: 0px;
}
@media(max-width: 331px){
  .is-sticky {
    position: relative
  }

}
.header-section {
  display: none;
}