

.py-14 {
  padding-bottom: 5rem!important;
  padding-top: 5rem!important;
}

.px-8 {
  padding-left: 2rem!important;
  padding-right: 2rem!important;
}

.description {
  font-size: 1.09375rem;
  font-weight: 500;
  color: #5c6c75;
}
.price{
  color: green
}